name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t devops-control-hub:latest ./app


  security-scan:
    name: Security Scan (Trivy)
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build image for scan
        run: |
          docker build -t devops-control-hub:latest ./app

      - name: Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: devops-control-hub:latest
          severity: HIGH,CRITICAL
          exit-code: 1
          format: table


  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: security-scan

    steps:
      - name: Deploy placeholder
        run: |
          echo "Deploy step will be implemented later with Kubernetes"
